<!DOCTYPE html>
<html lang="en">
    <head>
        <title>  ASSIGNMENT 2 </title>
        #header{
            display;flex;
                height:120px;
                border:1px solid
            </display:flex>
        }
        .Header_logo{
            width: 15%;
            padding: 5px 10px 0px 30px;
        }
        .nav_bar{
            width: 25%;
            height: 120px;
        }
        .header_btn{
            width: 25%;
            height: 120px;
        }
        ul{
            margin-top: 50px;
            margin-top: 60px;
        }a{
            
        }
        li[
        
        ]
    </head></html>
